  .header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 520px;
    width: 100%;
    color: white;
    background-image: url("https://www.transparenttextures.com/patterns/brushed-alum-dark.png");
    background-color: #219617;
  }

  .header-image {
    width: 220px;
    height: 220px;
    margin-top: 1.7em;
  }

  .header-text {
    font-size: 2rem;
  }


