nav {
  height: 120px;
  width: 100%;
  position: fixed;
  background-color: #4056A1;
  color: #FFFFFF;
  padding: 1.5em;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

nav .logo {
  font-family: 'Bungee', sans-serif;
}

nav .tweet-button {
  display: flex;
  align-items: center;
  flex-direction: column;
}

nav .icon-wrapper {
  display: block;
  margin: 0 auto;
  margin-top: 0.02em;
}





