section.new-tweet button {
  font-family: 'Bungee', sans-serif;
  background-color: #4056A1;
  color: #FFFFFF;
  justify-content: flex-start;
}

section.new-tweet div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px; 
  position: relative; 
  border: #53555c;
  border-radius: 5px;
}
 
.counter {
  margin-left: auto;
  text-align: right;
  font-family: 'Bungee', sans-serif;
  color: #53555c;
}

section.new-tweet form {
  background-color: inherit;
}

section.new-tweet textarea {
  border: none;
  background-color: inherit;
  resize: none;
  width: 800px;
  border-bottom: 4px solid #53555c; 
  font-weight: bold;
}

