section.new-tweet {
  display: flex;
  flex-direction: column;
  margin-left: 1.0em;
  margin-right: 1.0em;
}

section.new-tweet h2 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.counter {
  margin-top: 1.0em;
  display: flex;
  font-family: "Bungee", "sans-serif";
  justify-content: flex-end;
}

button {
  margin-top: 1.0em;
  font-family: "Bungee", "sans-serif";
  color: white;
  background-color: #1c6511;
  transition: all .5s ease-in-out;
}


section.new-tweet form {
  border: none;
  background-color: inherit;
}

section.new-tweet textarea {
  border: none;
  background-color: inherit;
  resize: none;
  border-bottom: 4px solid #4a4d4c;
  height:60px;
  width: 100%;
}
