.tweet {
  background-color: inherit;
  display: flex;
  justify-content:flex-start;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 4px solid #53555c;
  width: 60%;
  color: #53555c;
}

.tweet header {
  display: flex;
  align-items: center;
  justify-content: space-between; 
  margin-bottom: 10px;
}

.tweet header .tweet-author {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  color:#53555c
}

.tweet header .tweet-handle {
  color: #53555c;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tweet .tweet-content {
  margin-bottom: 10px;
  color: #53555c; 
  font-weight: 600;
}

.tweet footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  justify-content: end;
}

.tweet .tweet-timestamp {
  color: #53555c; 
}

.tweet .tweet-actions i {
  margin-right: 10px;
  color: #53555c; 
  cursor: pointer;
  align-items: right;
  align-items :baseline;
}

.tweet:hover {
  box-shadow: 0 8px 18px rgba(0, 0, 0, 0.5);
}

.tweet:hover .tweet-actions i {
  color: #53555c;
}

.tweet:hover .tweet-actions i:hover {
  color: #d18b00;
}

